/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: Faro;
  src: url(../fonts/FaroWebTrial-BoldLucky.woff2) format("woff2"),
    url(../fonts/FaroWebTrial-BoldLucky.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000d-fb04;
}
@font-face {
  font-family: Faro;
  src: url(../fonts/FaroWebTrial-DisplayLucky.woff2) format("woff2"),
    url(../fonts/FaroWebTrial-DisplayLucky.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000d-fb04;
}

body {
  font-family: "Work Sans", sans-serif;

  color: #444444;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Faro;
}

.hr-theme {
  color: #3e2f2e;
  background: #fdbdbb;
}

.hr-line {
  border-left: 6px solid #fdbdbb;
  padding: 10px 16px 1px 16px;
}

.data-science-theme {
  color: #443c31;
  background: #ffe9c9;
}

.data-science-line {
  border-left: 6px solid #ffe9c9;
  padding: 10px 16px 1px 16px;
}

.product-mgmt-theme {
  color: #202b23;
  background: #c6f1d5;
}

.product-mgmt-line {
  border-left: 6px solid #c6f1d5;
  padding: 10px 16px 1px 16px;
}

.technology-theme {
  color: #313842;
  background: #c8dcfb;
}

.technology-line {
  border-left: 6px solid #c8dcfb;
  padding: 10px 16px 1px 16px;
}

.cx-theme {
  color: #143e29;
  background: #9bf3cc;
}

.cx-line {
  border-left: 6px solid #9bf3cc;
  padding: 10px 16px 1px 16px;
}

.commercial-theme {
  color: #aa0082;
  background: #ffe9fa;
}

.commercial-line {
  border-left: 6px solid #ffe9fa;
  padding: 10px 16px 1px 16px;
}

.production-theme {
  color: #383838;
  background: #ebebeb;
}

.production-line {
  border-left: 6px solid #ebebeb;
  padding: 10px 16px 1px 16px;
}

.marketing-theme {
  color: #12683e;
  background: #e8ffed;
}

.marketing-line {
  border-left: 6px solid #e8ffed;
  padding: 10px 16px 1px 16px;
}

.finance-theme {
  color: #264541;
  background: #c1f6f0;
}

.finance-line {
  border-left: 6px solid #c1f6f0;
  padding: 10px 16px 1px 16px;
}

.fp-ops-theme {
  color: #79005d;
  background: #f3cfff;
}

.fp-ops-line {
  border-left: 6px solid #f3cfff;
  padding: 10px 16px 1px 16px;
}

.general-ops-theme {
  color: #375222;
  background: #e3ffcd;
}

.general-ops-line {
  border-left: 6px solid #e3ffcd;
  padding: 10px 16px 1px 16px;
}

.card {
  border-radius: 16px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: #fff;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
}

#header .logo a {
  color: #aa0082;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 991px) {
  #header {
    background: #fff;
  }
  #header .logo-text {
    display: none;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 10px 30px;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  color: #2f363c;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar:not(.navbar-mobile) a i,
.navbar:not(.navbar-mobile) a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar:not(.navbar-mobile) a:hover,
.navbar:not(.navbar-mobile) .active,
.navbar:not(.navbar-mobile) .active:focus,
.navbar:not(.navbar-mobile) li:hover > a {
  font-weight: bold;
  color: #2f363c;
  border-bottom-style: solid;
  border-color: #aa0082;
}

.navbar.navbar-mobile a {
  font-weight: 800;
  font-size: 24px;
  color: #aa0082;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #aa0082;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #aa0082;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #ffe9fa;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background: #ffe9fa;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #47b2e4;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# home Hero Section
--------------------------------------------------------------*/
#home-hero {
  width: 100%;
  height: 80vh;
  background: #edffef;
}

#home-hero .container {
  padding-top: 72px;
}

#home-hero h1 {
  margin: 0 0 10px 0;
  color: #aa0082;
  font-weight: 800;
  font-size: 60px;
}

#home-hero h2 {
  color: #2f363c;
  margin-bottom: 50px;

  font-weight: normal;
  font-size: 24px;
}

#home-hero h3 {
  font-weight: 800;
  font-size: 24px;
}

#home-hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #home-hero {
    height: 100vh;
    text-align: center;
  }
  #home-hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #home-hero .home-hero-img {
    text-align: center;
  }
  #home-hero .home-hero-img img {
    width: 50%;
  }

  #home-hero h1 {
    text-align: left;
  }

  #home-hero h2 {
    text-align: left;
  }

  #home-hero h3 {
    text-align: left;
  }
}

@media (max-width: 768px) {
  #home-hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #home-hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #home-hero .home-hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #home-hero .home-hero-img img {
    width: 80%;
  }
  #home-hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Products Section
--------------------------------------------------------------*/
#products {
  width: 100%;
  background: #fff;
  padding-bottom: 0;
  padding-top: 0;
}

#products .container {
  padding-top: 72px;
}

#products h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #2f363c;
}

#products h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#products .btn-explore {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;

  background: #aa0082;
  border-radius: 8px;
}

#products .btn-get-started:hover {
  background: #209dd8;
}

#products .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.dynamic-img-wrapper {
  overflow: hidden;
  width: 661px;
  height: 660px;
  position: relative;
  box-shadow: inset 0 3 10px #fff;
}

.dynamic-img-container {
  position: absolute;
  left: -8%;
  top: -15%;
  display: flex;
  flex-wrap: wrap;
  width: 850px;
  margin-top: -20px;
  margin-left: -20px;
  transform: rotate(-30deg);
}

.dynamic-img-container div {
  margin: 10px 6px;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.05), 0px 8px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  width: 56px;
  height: 56px;
}

.dynamic-img-container div:nth-child(24n + 13) {
  margin-left: 2rem;
}

@media (max-width: 991px) {
  #products {
    padding-bottom: 30px;
  }
  #products .animated {
    -webkit-animation: none;
    animation: none;
  }
  #products .products-img {
    text-align: center;
  }
  #products .products-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #products h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #products h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #products .products-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #products .products-img img {
    width: 80%;
  }
  #products .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# How Section
--------------------------------------------------------------*/
#how {
  width: 100%;
  background: #ffe8c4;
}

#how .container {
  padding-top: 72px;
}

#how h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #2f363c;
}

#how h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#how .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}

#how .btn-get-started:hover {
  background: #209dd8;
}

.method {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 20px 24px 0 50px;
  border-radius: 16px;
  background: #fff;
  transition: 0.5s;
  margin: 20px;
}

.method .pic {
  overflow: hidden;
  width: 180px;
}

.method .pic img {
  transition: ease-in-out 0.3s;
}

.method:hover {
  transform: translateY(-10px);
}

/* .method .method-info {
  padding-left: 30px;
} */

.method h4 {
  font-weight: 800;
  font-size: 24px;
  color: #aa0082;
  margin-bottom: 0;
}

.method p {
  margin-top: 0;
  font-size: 14px;
  color: #2f363c;
}

.method span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.method span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: 0;
  left: 0;
}

.method .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.method .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

.method .social a i {
  color: #37517e;
  font-size: 16px;
  margin: 0 2px;
}

.method .social a:hover {
  background: #47b2e4;
}

.method .social a:hover i {
  color: #fff;
}

.method .social a + a {
  margin-left: 8px;
}

#how .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #how .animated {
    -webkit-animation: none;
    animation: none;
  }
  #how .how-img {
    text-align: center;
  }
  #how .how-img img {
    width: 50%;
  }

  #how .container {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  #how h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #how h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #how .how-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #how .how-img img {
    width: 80%;
  }
  #how .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Cliens
--------------------------------------------------------------*/
.cliens {
  padding: 12px 0;
  text-align: center;
}

.cliens img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.cliens img:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .cliens img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# Careers
--------------------------------------------------------------*/
#careers h2 {
  color: #aa0082;
}

.careers .content h3 {
  font-weight: 600;
  font-size: 26px;
  color: #aa0082;
}
.careers h5 {
  color: #aa0082;
}

.careers .content ul {
  list-style: none;
  padding: 0;
}

.careers .content ul li {
  padding-left: 28px;
  position: relative;
}

.careers .content ul li + li {
  margin-top: 10px;
}

.careers .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #47b2e4;
  line-height: 1;
}

.careers .content p:last-child {
  margin-bottom: 0;
}

.careers .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #47b2e4;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #47b2e4;
}

.careers .content .btn-learn-more:hover {
  background: #47b2e4;
  color: #fff;
  text-decoration: none;
}

.careers .job-btn {
  color: #aa0082;
  border-color: #aa0082;
}

/*--------------------------------------------------------------
# Download the app Section
--------------------------------------------------------------*/
#download {
  width: 100%;
  height: 80vh;
  background: #ffe9fa;
}

#download .container {
  padding-top: 72px;
}

#download h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #aa0082;
}

#download h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#download .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}

#download .btn-get-started:hover {
  background: #209dd8;
}

#download .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #download {
    height: 100vh;
    /* text-align: center; */
  }
  #download .animated {
    -webkit-animation: none;
    animation: none;
  }
  #download .download-img {
    text-align: center;
  }
  #download .download-img img {
    width: 50%;
  }
  #download .download-logo {
    display: none;
  }
}

@media (max-width: 768px) {
  #download h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #download h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #download .download-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #download .download-img img {
    width: 80%;
  }
  #download .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
#blog h2 {
  color: #aa0082;
}

#blog .card-text {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.blog {
  padding-top: 40px;
}

.blog .blog-slider img {
  width: 100%;
}

.blog .blog-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.blog .blog-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #47b2e4;
}

.blog .blog-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #47b2e4;
}

.blog .blog-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
}

.blog .blog-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.blog .blog-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.blog .blog-info ul li + li {
  margin-top: 10px;
}

.blog .blog-description {
  padding-top: 30px;
}

.blog .blog-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.blog .blog-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #47b2e4;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #37517e;
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: #47b2e4;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #47b2e4;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #47b2e4;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #47b2e4;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #47b2e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #209dd8;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  min-height: 40px;
  margin-top: 72px;
}

.breadcrumbs li {
  font-size: 16px;
}

.breadcrumbs a {
  font-weight: bold;
  font-size: 18px;
  color: #2f363c;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: #37517e;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4668a2;
  content: ">";
}

/*--------------------------------------------------------------
# FAQs Hero
--------------------------------------------------------------*/

#faqs-hero {
  height: 50vh;
  background: #ffe9fa url("../img/hero-logo.png") repeat right top;
  color: #143e29;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#faqs-hero h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
}

@media (max-width: 991px) {
  #faqs-hero h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
  }
}

/*--------------------------------------------------------------
# FAQs Cards 
--------------------------------------------------------------*/

#faqs-cards {
  background: #ffffff;
  color: #2f363c;
}

#faqs-cards .card {
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05),
    0px 25px 25px rgba(0, 0, 0, 0.07);
  padding: 32px 16px;
}

#faqs-cards .card .card-title {
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
}

#faqs-cards .card .card-text {
  font-size: 14px;
  line-height: 21px;
  color: #2f363c;
}

#faqs-cards .q-circle {
  background: #ffe9fa;
  color: #aa0082;
  padding: 5px 16px;
  border-radius: 50%;
  font-size: 34px;
  font-weight: bold;
}

#faqs-cards h5 {
  font-size: 34px;
  font-weight: bold;
}

#faqs-cards p {
  font-size: 14px;
}

#faqs-cards .web-only {
  display: initial;
}

#faqs-cards .mobile-only {
  display: none;
}

@media (max-width: 991px) {
  #faqs-cards .web-only {
    display: none;
  }

  #faqs-cards .mobile-only {
    display: initial;
  }

  #faqs-cards .card .card-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
  }

  #faqs-cards .card .card-text {
    font-size: 14px;
    line-height: 21px;
  }
}

/*--------------------------------------------------------------
# Faqs Download the app Section
--------------------------------------------------------------*/
#faqs-download {
  width: 100%;
  height: 60vh;
  background: #ffe9fa;
}

#faqs-download .container {
  padding-top: 72px;
}

#faqs-download h1 {
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  color: #aa0082;
}

#faqs-download h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

#faqs-download .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}

#faqs-download .btn-get-started:hover {
  background: #209dd8;
}

#faqs-download .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#faqs-download .mobile-only {
  display: none;
}

#faqs-download .web-only {
  display: initial;
}

@media (max-width: 991px) {
  #faqs-download {
    height: 100vh;
  }
  #faqs-download .animated {
    -webkit-animation: none;
    animation: none;
  }
  #faqs-download .download-img {
    text-align: center;
  }

  #faqs-download .download-logo {
    display: none;
  }

  #faqs-download .mobile-only {
    display: initial;
  }

  #faqs-download .web-only {
    display: none;
  }
}

@media (max-width: 768px) {
  #download h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #download h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #download .download-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #download .download-img img {
    width: 80%;
  }
  #download .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Contact-us Hero
--------------------------------------------------------------*/

#contact-us-hero {
  height: 50vh;
  background: #e8ffed;
  color: #143e29;
}

/*--------------------------------------------------------------
# Contact-us Body
--------------------------------------------------------------*/

#contact-us-body {
  padding: 30px;
}

#contact-us-body .card {
  margin: 10px;
  width: 486px;
  padding-left: 20px;
  padding-right: 20px;
}

#contact-us-body .card-title {
  font-weight: bold;
  font-size: 34px;
}

#contact-us-body .btn {
  background: #aa0082;
  color: #fff;
}

#contact-us-body .email {
  color: #aa0082;
  font-weight: bold;
}

#contact-us-body .social-links a {
  display: inline-block;
  background: #fff;
  color: #aa0082;
  line-height: 1;
  padding: 6px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 32px;
  height: 32px;
  border: 1px solid #aa0082;
}

/*--------------------------------------------------------------
# Covid hero
--------------------------------------------------------------*/
#covid-hero {
  padding: 0;
}

#covid-hero .mobile-only {
  display: none;
}

#covid-hero .web-only {
  display: initial;
}

@media (max-width: 991px) {
  #covid-hero .web-only {
    display: none;
  }

  #covid-hero .mobile-only {
    display: initial;
  }
}

/*--------------------------------------------------------------
# Covid description
--------------------------------------------------------------*/
#covid-description h1 {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

#covid-description h1 span {
  color: #aa0082;
}

#covid-description p {
  text-align: center;
}

@media (max-width: 991px) {
  #covid-description p {
    text-align: justify;
  }
}

/*--------------------------------------------------------------
# COVID Cards 
--------------------------------------------------------------*/

#covid-cards {
  background: #ffffff;
  color: #2f363c;
}

#covid-cards .card {
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05),
    0px 25px 25px rgba(0, 0, 0, 0.07);
  padding: 32px 16px;
}

#covid-cards .card .card-title {
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
}

#covid-cards .card .card-text {
  font-size: 14px;
  line-height: 21px;
  color: #2f363c;
}

#covid-cards .q-circle {
  background: #ffe9fa;
  color: #aa0082;
  padding: 5px 16px;
  border-radius: 50%;
  font-size: 34px;
  font-weight: bold;
}

#covid-cards h5 {
  font-size: 34px;
  font-weight: bold;
}

#covid-cards p {
  font-size: 14px;
}

#covid-cards .web-only {
  display: initial;
}

#covid-cards .mobile-only {
  display: none;
}

@media (max-width: 991px) {
  #covid-cards .web-only {
    display: none;
  }

  #covid-cards .mobile-only {
    display: initial;
  }

  #covid-cards .card .card-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
  }

  #covid-cards .card .card-text {
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
  }
}

/*--------------------------------------------------------------
# Job description Hero
--------------------------------------------------------------*/

#job-description-hero {
  height: 50vh;
  background: #e8ffed;
  color: #143e29;
}

/*--------------------------------------------------------------
# Careers Hero
--------------------------------------------------------------*/

#careers-hero {
  width: 100vw;
  padding: 0;
  position: relative;
}

#careers-hero .hero-img-sm {
  display: none;
}

#careers-hero .join-us-card {
  width: 32%;
  height: 40%;
  position: absolute;
  left: 22.1%;
  top: 60.5%;
  border: none;
}

#careers-hero .join-us-card .card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

#careers-hero .join-us-card .card-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
}

#careers-hero .join-us-card .card-text {
  font-size: 16px;
  line-height: 19px;
}

#careers-hero .join-us-card .btn {
  background-color: #aa0082;
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 991px) {
  #careers-hero .hero-img-lg {
    display: none;
  }

  #careers-hero .hero-img-sm {
    display: block;
  }

  #careers-hero .join-us-card {
    position: static;
    width: 100%;
  }
  #careers-hero .join-us-card .btn {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  #careers-hero .join-us-card .card-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 41px;
  }

  #careers-hero .join-us-card .card-text {
    font-size: 14px;
    line-height: 21px;
  }
}

/*--------------------------------------------------------------
# Careers Section Head
--------------------------------------------------------------*/

.careers-section-head {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.careers-section-head span {
  color: #aa0082;
}

@media (max-width: 991px) {
  .careers-section-head {
    font-size: 34px;
  }
}

/*--------------------------------------------------------------
# Careers Departments
--------------------------------------------------------------*/

#careers-departments .dept-container {
  min-width: 992px;
}

#careers-departments .mobile-only {
  display: none;
}

#careers-departments .card {
  min-width: 222px;
  border: none;
}

#careers-departments .card .card-body {
  display: flex;
  align-items: flex-end;
  height: 180px;
}

#careers-departments .card .card-body .card-title {
  font-weight: 800;
  font-size: 24px;
}

#careers-departments .card .card-body .card-text {
  font-size: 18px;
  line-height: 32px;
  color: #2f363c;
}

.myRow {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.myRow > div {
  margin: 0 30px;
}

@media (max-width: 991px) {
  .mobile-departments {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }

  .mobile-departments > div {
    margin: 0 5px;
  }

  #careers-departments .dept-container > .row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  #careers-departments .dept-container > .row .col-12 {
    display: inline-block;
  }

  #careers-departments .mobile-only {
    display: flex;
  }

  #careers-departments .web-only {
    display: none !important;
  }

  #careers-departments .card .card-body .card-title {
    font-weight: 800;
    font-size: 20px;
  }

  #careers-departments .replacement-p {
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    margin-right: 10px;
    margin-left: 10px;
  }
}

/*--------------------------------------------------------------
# Careers Aish
--------------------------------------------------------------*/

#careers-aish p {
  font-size: 18px;
  line-height: 32px;
}

@media (max-width: 991px) {
  #careers-aish p {
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
  }
}

/*--------------------------------------------------------------
# Careers Values
--------------------------------------------------------------*/

#careers-values {
  background: #ffe9fa;
}

#careers-values .values-container {
  display: grid;
  grid-template:
    "title   innovate   innovate" 356px
    "learn   learn  excellence" 356px
    "integrity   logo   excellence" 356px
    "integrity   people   people" 356px / 356px 356px 356px;
  gap: 10px 10px;
}

#careers-values .values-container > * {
  border-radius: 10px;
}

#careers-values .values-container .title {
  grid-area: title;
  background: #aa0082;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#careers-values .values-container .text-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#careers-values .values-container .mobile-only {
  display: none;
}

#careers-values .values-container .card {
  border: none;
  overflow: hidden;
}

#careers-values .values-container .card-title {
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  color: #aa0082;
  margin-bottom: 24px;
}

#careers-values .values-container .card-text {
  font-size: 16px;
  line-height: 19px;
}

#careers-values .values-container .innovate {
  grid-area: innovate;
}

#careers-values .values-container .learn {
  grid-area: learn;
}

#careers-values .values-container .excellence {
  grid-area: excellence;
}

#careers-values .values-container .excellence .card {
  height: 720px;
}

#careers-values .values-container .integrity {
  grid-area: integrity;
}

#careers-values .values-container .integrity .card {
  height: 720px;
}

#careers-values .values-container .logo {
  grid-area: logo;
  background: #e8ffed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#careers-values .values-container .people {
  grid-area: people;
}

@media (max-width: 991px) {
  #careers-values .values-container {
    grid-template:
      "title "
      "innovate"
      "learn"
      "excellence"
      "integrity"
      "people";
  }

  #careers-values .values-container .integrity .card,
  #careers-values .values-container .excellence .card {
    height: initial;
  }

  #careers-values .values-container .text-content {
    display: initial;
  }

  #careers-values .values-container .title {
    height: 218px;
  }

  #careers-values .values-container .web-only {
    display: none;
  }

  #careers-values .values-container .mobile-only {
    display: initial;
  }
}

/*--------------------------------------------------------------
# Career Vacancies Section
--------------------------------------------------------------*/

#careers-vacancies {
  background: #fff5e3;
}

#careers-vacancies .card {
  height: 235px;
}

#careers-vacancies .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

#careers-vacancies .card .card-body .text-muted {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

#careers-vacancies .card .card-body .card-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}

#careers-vacancies .card .card-body .card-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

#careers-vacancies .card .btn {
  color: #aa0082;
  border-color: #aa0082;
}

#careers-vacancies .card .btn:hover {
  color: #fff;
  border-color: #aa0082;
  background-color: #aa0082;
}

@media (max-width: 991px) {
  #careers-vacancies .card .card-body .text-muted {
    font-size: 14px;
    line-height: 17px;
  }
  #careers-vacancies .card .card-body .card-title {
    font-size: 20px;
    line-height: 24px;
  }

  #careers-vacancies .card .card-body .card-text {
    font-size: 16px;
    line-height: 19px;
  }
}

/*--------------------------------------------------------------
# Teams Hero
--------------------------------------------------------------*/

#teams-hero {
  height: 50vh;
  background: #c6f1d5 url("../img/hero-logo.png") repeat right top;
  color: #202b23;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#teams-hero a {
  background: #aa0082;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

#teams-hero h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}

@media (max-width: 991px) {
  #teams-hero a {
    background: #aa0082;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
  }

  #teams-hero h1 {
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
  }
}

/*--------------------------------------------------------------
# Teams Hero 2
--------------------------------------------------------------*/

#teams-hero2 {
  width: 100vw;
  padding: 0;
  position: relative;
}

#teams-hero2 .join-us-card {
  width: 32%;
  position: absolute;
  left: 10%;
  top: 70.5%;
}

#teams-hero2 .join-us-card .card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

#teams-hero2 .join-us-card .card-title {
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
}

#teams-hero2 .join-us-card .card-text {
  font-size: 16px;
  line-height: 19px;
}

#teams-hero2 .join-us-card .btn {
  background-color: #aa0082;
}

@media (max-width: 991px) {
  #teams-hero2 .join-us-card {
    position: static;
    width: 100%;
  }
}

/*--------------------------------------------------------------
# teams Vacancies Section
--------------------------------------------------------------*/

#teams-vacancies .card {
  height: 235px;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05),
    0px 25px 25px rgba(0, 0, 0, 0.07);
  padding: 32px 16px;
}

#teams-vacancies .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

#teams-vacancies .card .btn {
  color: #aa0082;
  border-color: #aa0082;
}

#careers-vacancies .card .card-body .text-muted {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

#careers-vacancies .card .card-body .card-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}

#careers-vacancies .card .card-body .card-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  color: #fff;
  background: #383838;
}

#footer .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
}

#footer .logo a {
  color: #fff;
}

#footer .logo img {
  max-height: 40px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #383838;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  font-size: 10px;
  text-align: center;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright,
  #footer .credits {
    text-align: left;
  }

  #footer .credits {
    margin-top: 10px;
  }
}
