@media screen and (min-width: 768px) {
  .navbar-nav {
    margin-top: 5rem;
  }
  .header-content {
    .text {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .view {
    flex-direction: row;
    margin: 0;
  }
  .header-content {
    .text {
      font-size: 1.4rem;
    }
  }
  #navbar-show-btn {
    display: none;
  }
  #navbar-collapse {
    display: block !important;
    background-color: transparent;
    transform: translateX(0);
    height: auto;
    padding: 0;
    position: static;
    width: 100%;
  }
  #navbar-close-btn {
    display: none;
  }
  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
  }
  .nav-item {
    margin: 0;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1124px) {
  h1 {
    font-size: 4rem;
  }
  .lg-title {
    font-size: 3rem;
  }
  p {
    font-size: 1.4rem;
  }
  .header-content {
    .store-icons {
      .icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }
  .careers-content {
    display: flex;
    justify-content: stretch;
    align-items: center;
  }
  .careers-card:first-of-type {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 1201px) {
  .careers-card {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 1.8rem;
    img {
      width: 203px;
      border-top-left-radius: 1.8rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 1rem;
    }
  }
}

@media screen and (min-width: 1339px) {
  .operate-card {
    display: flex;
    justify-content: stretch;
    align-items: center;
  }
}
